.cont__unsplash {
    ul {
        column-count: 4;
        column-gap: 20px;
        width: 100%;

        li {
            margin-bottom: 20px;

            img {
                border-radius: 5px;
            }

            h2 {
                font-size: 14px;
            }
        }
    }
}

.Unsplash__pop {
    margin-bottom: 120px;
    .UnsplashList__inner {
        .imgBox {
            border-radius: 5px;
            margin: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                vertical-align: top;
                transform: scale(1);

                &:hover {
                    transform: scale(1.2);
                    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}

.unsplashBtn__cont {
    margin-bottom: 60px;

    .unsplashBtn__inner {
        display: flex;
        justify-content: center;

        button {
            font-family: var(--font-sub2);
            font-weight: 500;
            background: var(--black);
            color: var(--white);
            border: 1px solid var(--white);
            border-radius: 60px;
            padding: 5px 20px;
            margin: 0 12px;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
                background: #fff;
                color: var(--black);
            }
        }
    }
}
