.cont__youtube {

    .youtube__inner {
        
        ul {
            column-count: 3;
            column-gap: 20px;
            width: 100%;

            li {
                margin-bottom: 20px;

                img {
                    border-radius: 5px;
                }
            }
        }
    }
}