.cont__youtube {
    margin-bottom: 120px;

    .youtube__inner {
        
        ul {
            column-count: 3;
            column-gap: 20px;
            width: 100%;

            li {
                margin-bottom: 40px;

                h2 {
                    font-family: var(--font-sub3);
                    font-size: 14px;
                    color: #fff;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 10px;
                }

                img {
                    border-radius: 5px;
                    object-fit: cover;
                }
            }
        }
    }
}

// .cont__youtube {
//     margin-bottom: 120px;

//     img {
//         object-fit: cover;

//     }
// }
.swiper-pagination {
    position: static !important;
    margin-top: 30px;
}

.swiper-pagination-bullet {
    background: #fff !important;
}